<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wxx.androiddemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_drawable"
        android:label="@string/name"
        android:networkSecurityConfig="@xml/net_work_config"
        android:roundIcon="@drawable/ic_launcher_drawable"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".ftp.FTPMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".intentService.MyIntentService" />

        <activity android:name=".observeable.MainActivity2" />
        <activity android:name="com.wxx.plugintest.MainActivity" />
        <activity android:name=".greendao.MainActivity"/>
        <!--<activity android:name=".databinding.mvvmdemo.DemoMainActivity" />-->
        <!--<activity android:name=".memory.MainActivity" />-->
    </application>

</manifest>